header#test
	h1(class="site-logo") TardyTracker
	ul(class="nav-menu")
		li(class="nav-menu-item")
			a(href="/newarrival").
				Create New Arrival
		li(class="nav-menu-item")
			a(href="/arrivallist").
				Arrival List
		li(class="nav-menu-item")
			a(href="/userlist").
				User List
		li(class="nav-menu-item")
			a(href="/newuser").
				New User